<div class="pagehead">
	<div class="container">
		<nav class="pagehead-nav" role="navigation">
			<a href="#" class="selected js-selected-navigation-item pagehead-nav-item" data-selected-links=" /styleguide/mobile">
			<span class="octicon octicon-person"></span> Login</a>
		</nav>

		<h1>
			<a class="{% if page.url == "/scaffolding" %}selected{% endif %}" href="{{ site.baseurl }}/scaffolding">HTML</a>
			<a class="{% if page.url == "/javascript" %}selected{% endif %}" href="{{ site.baseurl }}/javascript">Javascript</a>
			<a class="{% if page.url == "/themize" %}selected{% endif %}" href="{{ site.baseurl }}/themize">Themize</a>
		</h1>
	</div>
</div>
