<nav class="menu docs-menu">
	<a class="menu-item {% if page.url == "/layout" %}selected{% endif %}" href="/layout/">
	Layout
	</a>
	<a class="menu-item {% if page.url == "/buttons" %}selected{% endif %}" href="/buttons/">
	Buttons
	</a>
	<a class="menu-item {% if page.url == "/forms" %}selected{% endif %}" href="/forms/">
	Forms
	</a>
	<a class="menu-item {% if page.url == "/nav" %}selected{% endif %}" href="/nav/">
	Navigation
	</a>
	<a class="menu-item {% if page.url == "/alerts" %}selected{% endif %}" href="/alerts/">
	Alerts
	</a>
	<a class="menu-item {% if page.url == "/blankslate" %}selected{% endif %}" href="/blankslate/">
	Blankslate
	</a>
	<a class="menu-item {% if page.url == "/states" %}selected{% endif %}" href="/states/">
	States
	</a>
	<a class="menu-item {% if page.url == "/tables" %}selected{% endif %}" href="/tables/">
	Tables
	</a>
</nav>
