<nav class="menu docs-menu">
	<a class="menu-item {% if page.url == "/layout" %}selected{% endif %}" href="{{ site.baseurl }}/layout/">
	Layout
	</a>
	<a class="menu-item {% if page.url == "/buttons" %}selected{% endif %}" href="{{ site.baseurl }}/buttons/">
	Buttons
	</a>
	<a class="menu-item {% if page.url == "/forms" %}selected{% endif %}" href="{{ site.baseurl }}/forms/">
	Forms
	</a>
	<a class="menu-item {% if page.url == "/nav" %}selected{% endif %}" href="{{ site.baseurl }}/nav/">
	Navigation
	</a>
	<a class="menu-item {% if page.url == "/alerts" %}selected{% endif %}" href="{{ site.baseurl }}/alerts/">
	Alerts
	</a>
	<a class="menu-item {% if page.url == "/blankslate" %}selected{% endif %}" href="{{ site.baseurl }}/blankslate/">
	Blankslate
	</a>
	<a class="menu-item {% if page.url == "/states" %}selected{% endif %}" href="{{ site.baseurl }}/states/">
	States
	</a>
	<a class="menu-item {% if page.url == "/tables" %}selected{% endif %}" href="{{ site.baseurl }}/tables/">
	Tables
	</a>
</nav>
