// Scroll bar always present
html {
	overflow-y: scroll;
}

// Checkbox and Radio Cursor pointer
input[type="checkbox"]:hover, input[type="radio"]:hover {
    cursor: pointer;
}

// Remove figure (code blocks) side margin (40px)
figure {
    margin: 1em 0;
}

// Blankslate h3 margins
.docs-example p, .docs-example h1, .docs-example h2, .docs-example h3, .docs-example h4, .docs-example h5, .docs-example h6,
.blankslate p, .blankslate h1, .blankslate h2, .blankslate h3, .blankslate h4, .blankslate h5, .blankslate h6 {
	margin-top: 0;
	margin-bottom: 0;
}
